[submodule "lib/utils"]
	path = lib/utils
	url = https://github.com/ryanvolz/discord_bot_utils.git
[submodule "lib/botc_extensions"]
	path = lib/botc_extensions
	url = https://github.com/ryanvolz/botc_extensions.git
